[submodule "statics/lib/bootstrap"]
	path = statics/lib/bootstrap
	url = git@github.com:jasny/bootstrap.git
[submodule "statics/lib/animate.css"]
	path = statics/lib/animate.css
	url = git@github.com:daneden/animate.css.git
[submodule "statics/lib/holder"]
	path = statics/lib/holder
	url = git@github.com:imsky/holder.git
[submodule "statics/lib/Jquery-Price-Format"]
	path = statics/lib/Jquery-Price-Format
	url = git@github.com:jiunjiun/Jquery-Price-Format.git
[submodule "statics/lib/toastr"]
	path = statics/lib/toastr
	url = git@github.com:CodeSeven/toastr.git
