body {
	min-width:1000px;
	max-width:1200px;
	width:1200px;
	margin: 0 auto;
}
body, button{
	font-family:Arial,"微軟正黑體", "Microsoft JhengHei",sans-serif;
}
header { height:100px;overflow:hidden;}

header .breadcrumb .active, header .breadcrumb a, header .breadcrumb span.divider{color:#000;text-shadow:none;}
header div#logo { float:left;padding-top:10px;}
header #nav { float:right;}
header div#top { height:36px;overflow:hidden;}
header div#top #UserName{ float:left;}
header div#top div#UserInfo{ float:left;}
header div#top div#UserInfo div#break{ float:left; background-image:url("../../img/id_01.gif"); width:30px;height:37px;}
header div#top div#UserInfo div#break-right{ float:left;}
header div#top div#UserInfo ul.breadcrumb{ background-color:#B3D5EA;height:21px;}
header div#top div#About{ overflow:auto;width:auto;}
header div#top div#About div#break{ float:left; background-image:url("../../img/id_03.gif"); width:30px;height:37px;margin-right:-1px;}
header div#top div#About div#break-right{ float:right;overflow:hidden;}
header div#top div#About ul.breadcrumb{ background-color:#9CBFD4;height:21px;}
header div#search { margin:0;padding:15px 0;float: right;}
header div#search form{ margin:0;padding:0;}
header div#search input{background: white url("../../img/search_01.gif") left no-repeat; background-position: 6px 2px; background-repeat:no-repeat;  padding-left:40px;}

nav .breadcrumb .active, nav .breadcrumb a, nav .breadcrumb span.divider{color:#fff;text-shadow:none;}
nav { height:46px; background-image:url("../../img/top_link_04.gif");margin-top:10px;}
nav div#left { float:left; height:46px; width:14px; background-image:url("../../img/top_link_01.gif");}
nav div#hot { float:left; height:46px; width:23px; background-image:url("../../img/top_link_hot.gif");}
nav div#main { float:left; width:49%;}
nav div#main ul {position: relative; padding:15px 0 0 0; height:31px; background-image:url("../../img/top_link_02.gif");}
nav div#main ul li{ font-size: 16px; padding:0 10px 0 5px;}
nav div#main ul li:hover nav div#main ul{ background-image:url("../../img/top_link_mouse.gif");}
nav div#main ul li a:hover{ text-decoration:none; color:#C5DF8C;}

nav ul ul {display: none;}
nav ul li:hover > ul { display: block;}
nav div#main ul li ul {	list-style: none; background-image: none;padding-top:16px;margin-left:-10px; position: absolute; top: 30px;}
nav div#main ul li ul li { border:1px solid #227EB9; border-top:0;background: #fff; border-bottom:1px dotted #227EB9;background: #fff; padding:5px 10px;}
nav div#main ul li ul li.last { border-bottom:1px solid #227EB9;}
nav div#main ul li ul li a{ color:#227EB9;}
nav div#main ul li ul li a:hover{}
nav div#right { float:left; height:46px; width:15px; background-image:url("../../img/top_link_03.gif");}
nav div#icash_store a{float:left; height:46px; width:118px; background-image:url("../../img/top_link_cash_mouse_02.gif"); background-repeat:no-repeat;}
nav div#icash_store a:hover{background-position:-118px 0;}
nav div#mostly a{float:left; height:46px; width:118px; background-image:url("../../img/top_link_discount_02.gif"); background-repeat:no-repeat;}
nav div#mostly a:hover{background-position:-118px 0;}

div#menu {width:180px; }
div#menu div{margin-bottom:9px;}
div#menu div#nav_second p#title{font-size:14px; padding:3px 0 3px 10px; color:#227eb9; font-weight: bold;margin:0;}
div#menu div#nav_second{border:1px solid #ddd;margin-bottom:9px;}
div#menu div#nav_second ul {list-style:none; margin:0;}
div#menu div#nav_second ul li {padding:5px 0;padding-left:10px;border-bottom:1px dotted #227EB9; color:#227eb9;}
div#menu div#nav_second ul li.last {border-bottom:0;}
div#menu div#nav_second p.title-list{border-top:1px solid #ddd;}
div#content {width:1013px;}

footer {}
footer div#logo {width:130px; float:left; }
footer blockquote {margin-left:130px; border-left-color:#b3d5ea; height:100px;}
footer blockquote p{font-size:14px;}

article{margin-left:15px;}
article dl{font-size:22px; }
article dl dt{overflow:visible;}
article dl > dt, dd{padding-top:15px;}
article input.input-large{margin:0}

/** 	cart	**/
article#cart .hr{border-top: 2px dashed #ccc; padding-top:50px; }
article#cart div.continueBuy {padding:20px 0;}
article#cart dl {height: 30px;}
article#cart div.item { padding : 0 20px;}
article#cart li.media {padding-left:30px; padding-bottom:30px;}
article#cart div.productInfo{border-bottom: 1px solid #ccc;}
article#cart div.productInfo, article#cart div.productNum{padding: 10px 10px 0 0;}
article#cart h4{padding-top: 10px;}
article#cart span.one_price {}
article#cart span.num {padding-left: 30px;}
article#cart span.num  input[type="number"]{ width: 50px; margin-top: 7px;}
article#cart span.total_price {padding-left: 20px;}
article#cart span.haveNumb {padding-right:30px;}
article#cart .row dl {border-top: 3px solid #ccc; padding-top:15px;}
article#cart .row dt {width: auto;}
article#cart .row dd {margin-left: 90px;font-size: 20px;}
article#cart .row .checkout {padding:10px 30px 0 0;}

article#storedvalue-index div#declaration{margin-top:30px;}
article#storedvalue-index div#declaration textarea{width:80%;}
article#storedvalue-index div#submit{padding-top:20px;}
article#storedvalue-index div#submit button.btn-success{margin-left: 50px;}
article#storedvalue-apply #btn-group button{padding:20px 50px; font-size:28px; margin-right:50px;}
article#storedvalue-apply div.detail{}
article#storedvalue-apply div.detail div{margin-top:50px;}
article#storedvalue-apply div.detail dl{margin-left:220px;}

article#checkout-index div.btn-group {padding-top:10px;}
article#checkout-index div.detail{}
article#checkout-index div.detail div{margin-top:40px;}
article#checkout-index div.detail dl{margin-left:0}
article#checkout-index div.detail dl dt{margin-left:0}
article#checkout-index div.total_sell{width:100%;height:70px;}
article#checkout-index div.total_sell table td.sell_field{width:66px; font-weight: bold;}
article#checkout-index div.total_sell table td{width:68px;padding:3px 8px;line-height:20px;}
article#checkout-index div.total_sell table tr#total{border-top:1px solid #ccc;}
article#checkout-index div.total_sell table tr#total td.sell_field{font-size:18px;color:red;padding:10px 0;font-weight: bold;}
article#checkout-index div.total_sell table tr#total td{font-size:18px;color:red;padding-top:5px;font-weight: bold;}
article#checkout-index h3#detailed_title{width:370px;}

article#profile-index {}
article#profile-index ul{list-style: none;margin:0;}
article#profile-index ul li{width:282px;float:left;padding:0 25px;}
article#profile-index ul li ul li{padding:0;padding-top: 8px;}
article#profile-index ul li div.header{border-top:4px dashed #cde7f7; border-bottom:4px dashed #cde7f7;}
article#profile-index ul li > a{text-decoration: none;}

article#profile-editProfile label {width:100px;font-size:20px;}
article#profile-editProfile label.gender_Male {}
article#profile-editProfile label.gender_Female {overflow:hidden;}
article#profile-editProfile div#submit {margin-left: 70px;}
article#profile-editPwd div#submit {margin-left: 70px;height:50px;overflow:auto;}

article#store ul li > a{text-decoration: none;}
article#store div.side{border:1px solid #ddd;overflow:auto;margin-bottom:10px;}
article#store div.side #title{color:#0088cc; padding:5px 0; padding-left:15px; font-size:16px;}
article#store div#top4 ul {list-style: none;margin:0;}
article#store div#top4 ul li{width:239px; height:auto; float:left; padding:10px 5px;}
article#store div#top4 ul li #name{padding:10px 0; font-size:16px;}
article#store div#top4 ul li .price{font-size:16px;padding-bottom:5px;}
article#store div#order{ margin:10px 0;overflow:auto;padding:5px 0;padding-left:10px;}
article#store div#order ul{list-style: none;margin:0;}
article#store div#order ul li{float:left;}
article#store div#order ul li > a.select{font-weight: bold;}

article#store div.content{width:998px;overflow:auto;}
article#store div.content ul{list-style: none;margin:0;margin-left:3px;}
article#store div.content ul li{float:left;padding:5px 3px;}
article#store div.content ul li > a.select{font-weight: bold;}
article#store div.content ul li a{width:181px;}

article#store-commodity div#goods_pic {margin-right:20px;}
article#store-commodity div#price_info {overflow:auto;height:300px;}
article#store-commodity div#content_title {margin:10px 0; padding:10px; background-color:#cde6f4; font-size:16px; color:#227eb9;font-weight: bold;}
article#store-commodity div#commodity_content {}

article#about-index div#content {margin:30px 0;}
article#about-index div#content h3.title{color:#0066CC;font-weight: bold;}
article#about-index div#content p{font-size:16px;}
article#about-index div.footer {}
article#about-index div.footer div{float:left;margin-left:220px;padding-right:10px;}
article#about-index div.footer blockquote{overflow:auto;}
article#about-index div.footer ul{list-style: none;margin:0;}
article#about-index div.footer ul li{padding:0;}

/**	bootstrap **/
blockquote { border-left-color:#9cbfd4;}
.container-fluid {padding:0;margin-top:7px;}
.breadcrumb{ margin:0; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; background-color:#fff; }
.sidebar-nav { padding:9px 0;}
textarea[readonly]{cursor:auto;}

dd { position:relative;padding-bottom:10px; }
dt input[type="text"]{ padding:10px; }
table tr.firstRow td{font-weight: bold;}
td.items { width : 55px;}
td.option { width : 50px;}
td.invoice { width : 25px;}
td.justedit { width : 25px;}
ul.nav-pills li a { background-color : #eee; }
div.input-append span.add-on { padding-left : 10px;padding-right : 10px;}
hr { border:0; height:1px; background-color:#d4d4d4; color:#d4d4d4	/* IE6 */}

.center { text-align : center;}
.left { text-align : left;}
.right { text-align : right;}
a.decorationNone { text-decoration: none;}
.displaynNone {display: none;}


.price {color : red;}
.anim-refresh { 
	width:24px; height:24px; background-image:url("../../img/ic_action_refresh.png"); padding:0;margin:0;
	/* Safari and Chrome */
	-webkit-animation-name: refresh; -webkit-animation-duration: 2s; -webkit-animation-iteration-count: infinite; -webkit-animation-play-state: running;
	/* Firefox */
	-moz-animation-name: refresh; -moz-animation-duration: 2s; -moz-animation-iteration-count: infinite; -moz-animation-play-state: running;			
	animation-name: refresh; animation-duration: 2s; animation-iteration-count: infinite; animation-play-state: running;
}
@-webkit-keyframes refresh { 0% {-webkit-transform:rotate(0deg);} 25%   {-webkit-transform:rotate(90deg);} 50%  {-webkit-transform:rotate(450deg);} 75%  {-webkit-transform:rotate(540deg);} 100% {-webkit-transform:rotate(900deg);} }
@-moz-keyframes refresh { 0% {-webkit-transform:rotate(0deg);} 25%   {-webkit-transform:rotate(90deg);} 50%  {-webkit-transform:rotate(450deg);} 75%  {-webkit-transform:rotate(540deg);} 100% {-webkit-transform:rotate(900deg);} }
@keyframes refresh { 0% {-webkit-transform:rotate(0deg);} 25%   {-webkit-transform:rotate(90deg);} 50%  {-webkit-transform:rotate(450deg);} 75%  {-webkit-transform:rotate(540deg);} 100% {-webkit-transform:rotate(900deg);} }

/** http://www.colorzilla.com/gradient-editor/	**/
.gradient_BlackWhite {
	background: rgb(242,245,246); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,245,246,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
}
