body {
	padding-top: 60px;
	padding-bottom: 40px;
}
body, button{
	font-family:Arial,"微軟正黑體", "Microsoft JhengHei",sans-serif;
}
footer {
	text-align : center;
}
.sidebar-nav {
	padding: 9px 0;
}

dd { position:relative;padding-bottom:10px; }
dt { padding-top:5px; }
td.items { width : 55px;}
td.option { width : 50px;}
td.invoice { width : 25px;}
td.justedit { width : 25px;}
ul.nav-pills li a { background-color : #eee; }
div.input-append span.add-on { padding-left : 10px;padding-right : 10px;}
hr { border:0; height:1px; background-color:#d4d4d4; color:#d4d4d4	/* IE6 */}

input#search_bar{width : 70px;}

/* 		 	account 	 	  */
/* 		 	register 	 	  */
article#register select#NameList{display : none;top : 0;left : 170px;position : absolute;margin-left : 70px; width : 205px;z-index : 2;}
article#register button.dropdown-toggle{width : 68px;}
article#register input#prependedDropdownButton{width : 157px;}


/* 		 	commodity 	 	  */
/* 		 	itemAdd 	 	  */
article#itemAdd select, article#itemEdit select{width : 225px;}

/* 		 	shelvesEditAdd 	 	  */
article#shelvesEditAdd textarea {width:98%;}



