html,body {
	font-family:Arial,"微軟正黑體", "Microsoft JhengHei",sans-serif;
	background-color: #405768;
	margin:0;padding:0;
	width:100%;
	min-width:960px;max-width:1400px;margin:0 auto;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0.4); 
}

header{
	background-color: #093150;
	height:88px;
}
header #logo{
	padding:10px 0 0 27px;
	float:left;
}
header #userinfo{
	color:#E6C45B;
	float:left;
	padding-left:30px;
	padding-top: 30px;
}
header #management_logo{
	padding:10px 80px 0 0;
	float:right;
}
#wrapper{
	padding-right:229px;
	padding-bottom: 100px;
}
nav {
	float:left;
	width: 229px;
}
#main {
	float:right;	
	width:100%;
	margin-right:-229px;
}
#main .main-top{
	height:50px;
	background-image : url('../../img/admin_tour_right.jpg');
}
#main .main-top .path{}
#main .main-top .path p{
	padding-top:10px;
	color:#BCBCBC;
}
#main .content #title{
	padding:10px 0;
	color : white;
	font-weight : bold;
	font-size : 16px;
}
#main .content #title p img { padding-right:5px;}

article{
	padding:10px 10px;
	color:white;
}

footer{
	color:#BCBCBC;
	position: relative;
	padding-top:20px;
	margin-top: -50px;
	height: 50px;
	clear:both;
	text-align:center;
}

.hide {
	display: none;
}

article input[type="number"] {height:30px;}

/* --		account 		--*/
/* 		  listAdd Edit	 	  */
dl.level dt{ padding-top:5px;}
input[type="text"], input[type="email"] , input[type="password"]{	height:30px;width:210px;}
select[name="gender"] {width:210px;}
div.row{margin-left:0;padding-left:0;}
table tr td.items{width:55px;}
select#upper{width:210px;}

/* 		 	register 	 	  */
dd,dt{padding-bottom:5px;}
dd{position:relative;}
select#NameList{display:none;top:0;left:150px;position:absolute;margin-left:70px; width:205px;z-index:2;}
button.dropdown-toggle{width:68px;}
input#prependedDropdownButton{width:143px;}

/*			profiles		*/
div.row hr{margin:10px 0;}
div.row h3{margin:5px 0;}
div.row div.link{margin:0;padding-top:20px;}
div.row div.link a{color:#00aeff;}
div.row div.name{width:auto;padding-right:10px;}

/*			lists		*/
div ul.dropdown-menu{min-width:80px;}
div.btn-group a.dropdown-toggle{height:20px;}
table tr.info td#option{width:90px;}
table tr.info td{text-align:center;}

/*			repasswd		*/
small cite span.label{cursor: pointer;}

/*			editPasswd		*/
div.popover{color:#000;}

/*			editInfo		*/
dl dd select{width:210px;}
dl dd input.address{width:400px;}

/* --		storedvalue 	--*/
/* 			  apply	 		  */
article#apply div.btn-group {margin-bottom: 20px;}
article#apply div.pay_direction {overflow: auto; height: 300px; border: 1px dashed #fff;padding:10px 20px;margin:20px 0;}

/* 			  lists	 		  */
article#storedvalue-lists input#search_bar {width: 100px;}



