body {
	padding-top: 60px;
	padding-bottom: 40px;
}
body, button{
	font-family:Arial,"微軟正黑體", "Microsoft JhengHei",sans-serif;
}
.sidebar-nav {
	padding: 9px 0;
}

dd { position:relative;padding-bottom:10px; }
dt { padding-top:5px; }
td.items { width : 55px;}
td.option { width : 50px;}

/* 		 	account 	 	  */
/* 		 	register 	 	  */
article#register select#NameList{display : none;top : 0;left : 150px;position : absolute;margin-left : 70px; width : 205px;z-index : 2;}
article#register button.dropdown-toggle{width : 68px;}
article#register input#prependedDropdownButton{width : 157px;}


/* 		 storedvalue 	 	 */
/* 		 storedvalue 	 	 */
article#CountList input#search_bar{width : 100px;}